.swiper-pagination {
  margin-top: 20rem;
}


.swiper-pagination-bullet {
  background-color: #f4254e;
}

/* .swiper-pagination-bullets {
  background-color: #f4254e;
   margin-top: 20rem !important
} */